.SongCard__card--1fsX_ {
	padding: 8px 0;
	border: 1px solid #e9e9e9;
	position: relative;
}

.SongCard__item--2R2PF {
	padding: 8px;
	display: table-cell;
	vertical-align: middle;
}

.SongCard__order--2FA2d {
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
	width: 86px;
 }
.SongCard__votes--1ag85 {
	width: 96px;
	text-align: center;
}

.SongCard__track-name--2jR9T{
	font-weight: 700;
	font-size: 1.2rem;
}

.SongCard__image-wrapper--3xQt_, .SongCard__image--YNpZu {
	width: 64px;
	height: 64px;
}

.SongCard__actions-wrapper--3TMUh {
	text-align: right;
	width: 96px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.SongCard__action--1RhHG {
	display: block;
	width: 100%;
	color: #000;
	text-align: center;
	background: #e9e9e9;
	margin-bottom: 2px;
	text-decoration:none;
}
.SongCard__action--active--rz9v-, .SongCard__action--1RhHG:hover {
	background-color: #000;
	color: #fff;
}
.SongCard__action-like--2HnGv {
	display: inline-block;
	cursor: pointer;
	width: 100%;
}

.Pagination__root--2nFtH {
	padding: 1rem;
}


.Pagination__list--P5xWf {
	list-style: none;
	margin: 0;
}
.Pagination__item--1e57_ {
	display: inline-block;
	margin: 0 0.5rem;
}

.Pagination__link--active--3bQzv {
	color: #f00;
}

.Pagination__root--local--28L1F {
	width: 100%;
	padding: 0;
}
	.Pagination__root--local--28L1F .Pagination__list--P5xWf {
		display: flex;
		justify-content: space-evenly;
		margin-left: 0;
		padding-left: 0;
	}

	.Pagination__root--local--28L1F .Pagination__item--1e57_ {
		margin: 0;
	}
	.Pagination__root--local--28L1F .Pagination__prev--2oxUc {
		flex-grow: 1;
		text-align: left;
	}
	.Pagination__root--local--28L1F .Pagination__next--uuSqU {
		flex-grow: 1;
		text-align: right;
	}

	.Pagination__root--local--28L1F .Pagination__text-prev--22saP, .Pagination__root--local--28L1F .Pagination__text-next--25cBd {
		visibility: hidden;
	}

	.Pagination__root--local--28L1F .Pagination__arrow-next--2IQrG:after { 
		 content: '\25B6';
	}
	.Pagination__root--local--28L1F .Pagination__arrow-prev--2BnWn:after {
		 content: '\25C0';
	}

	.Pagination__root--local--28L1F .Pagination__link--2fm1p {
		display: block;
		width: 100%;
		color: #000;
		text-align: center;
		background: #e9e9e9;
		text-decoration:none;
	}
	.Pagination__root--local--28L1F .Pagination__link--2fm1p:hover {
		background-color: #000;
		color: #fff;
	}

.SongsOverview__list--2IFAC {
	width: 100%;
}
.SongsOverview__row--5Ztcg {
	margin: 8px 0;
}



